* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a, a:hover {
  text-decoration: none;
}
